# Configuration file

visual {
    B:cloudsEnabled=true
    B:nightTime=true
    I:skyColor=12638463
    I:skyType=0
    D:starBrightness=1.0
    B:weatherEnabled=true
}


worldgen {
    # One-time-use permission to change generation settings on the world
    B:allowGenerationChanges=false
    S:biomeId=Plains
    I:dimId=180
    B:generatingTrees=false
    B:generatingVegetation=false
    S:layers=minecraft:bedrock;minecraft:dirt*3;minecraft:grass
}


