# Configuration file

visual {
    B:cloudsEnabled=true
    B:nightTime=false
    I:skyColor=12638463
    I:skyType=0
    D:starBrightness=1.0
    B:weatherEnabled=false
}


worldgen {
    # One-time-use permission to change generation settings on the world
    B:allowGenerationChanges=false
    S:biomeId=Plains
    I:dimId=181
    B:generatingTrees=false
    B:generatingVegetation=false
    S:layers=minecraft:bedrock*5;minecraft:stone*105;minecraft:dirt*9;minecraft:double_stone_slab
}


